# /*
# !/.gitignore
# !/ri3d
# /ri3d/*
# !/ri3d/src

# /*
# !/.gitignore
# !/v1
# /v1/*
# !/v1/src
# !/v1/include

# /*
# !/.gitignore
# !/v1
# /v1/*
# !/v1/include

alliance/
new/

/v1/.cache
/v1/bin
